In [5]:
#1. Data Importing and Pre-processing
#    - Import dataset and describe characteristics such as dimensions, data types, file types, and import methods used
#    - Clean, wrangle, and handle missing data
#    - Transform data appropriately using techniques such as aggregation, normalization, and feature construction
#    - Reduce redundant data and perform need-based discretization

import pandas as pd

In [7]:
pwd

'/Users/nwentworth/Desktop/Final Project'

In [8]:
ls

Dataset 3 (Online Shoppers Intention)/
Dataset 3 (Online Shoppers Intention).zip
Untitled.ipynb

In [9]:
ls

Dataset 3 (Online Shoppers Intention).zip
README.txt
Untitled.ipynb
online_shoppers_intention.csv

In [10]:
df=pd.read_csv('online_shoppers_intention.csv', header=0)

In [12]:
df.head(10)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0.0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,Feb,1.0,1,1,1,Returning_Visitor,False,False
1,0,0.0,0.0,0.0,2,64.000000,0.000000,0.100000,0.0,0.0,Feb,2.0,2,1,2,Returning_Visitor,False,False
2,0,0.0,0.0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,Feb,4.0,1,9,3,Returning_Visitor,False,False
3,0,0.0,0.0,0.0,2,2.666667,0.050000,0.140000,0.0,0.0,Feb,3.0,2,2,4,Returning_Visitor,False,False
4,0,0.0,0.0,0.0,10,627.500000,0.020000,0.050000,0.0,0.0,Feb,3.0,3,1,4,Returning_Visitor,True,False
5,0,0.0,0.0,0.0,19,154.216667,0.015789,0.024561,0.0,0.0,Feb,2.0,2,1,3,Returning_Visitor,False,False
6,0,0.0,0.0,0.0,1,0.000000,0.200000,0.200000,0.0,0.4,Feb,2.0,4,3,3,Returning_Visitor,False,False
7,1,0.0,0.0,0.0,0,0.000000,0.200000,0.200000,0.0,0.0,Feb,1.0,2,1,5,Returning_Visitor,True,False
8,0,0.0,0.0,0.0,2,37.000000,0.000000,0.100000,0.0,0.8,Feb,2.0,2,2,3,Returning_Visitor,False,False
9,0,0.0,0.0,0.0,3,738.000000,0.000000,0.022222,0.0,0.4,Feb,2.0,4,1,2,Returning_Visitor,False,False

In [13]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational              float64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems           float64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [22]:
pwd

'/Users/nwentworth/Desktop/Final Project'

In [23]:
ls

Dataset 3 (Online Shoppers Intention).zip
README.txt
Untitled.ipynb
online_shoppers_intention.csv

In [27]:
about=open('README.txt')

In [28]:
print(about) #this is not working, figure this out

<_io.TextIOWrapper name='README.txt' mode='r' encoding='UTF-8'>

In [29]:
#identify amount of NA data
print(df.isnull().sum())

Administrative               0
Administrative_Duration      0
Informational              128
Informational_Duration       0
ProductRelated               0
ProductRelated_Duration      0
BounceRates                  0
ExitRates                    0
PageValues                 135
SpecialDay                   0
Month                        0
OperatingSystems           123
Browser                      0
Region                       0
TrafficType                  0
VisitorType                  0
Weekend                      0
Revenue                      0
dtype: int64

In [30]:
#look at the null values of informational column:
df[df['Informational'].isnull()]

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
128,4,462.000000,NaN,0.000000,51,1873.216667,0.000000,0.007547,0.000000,0.6,Feb,2.0,2,9,3,Returning_Visitor,False,False
268,0,0.000000,NaN,0.000000,15,1559.600000,0.000000,0.033846,0.000000,0.0,Mar,2.0,4,1,1,Returning_Visitor,False,False
351,0,0.000000,NaN,0.000000,10,194.000000,0.020000,0.040000,0.000000,0.0,Mar,2.0,5,7,1,Returning_Visitor,False,False
641,17,754.109524,NaN,77.000000,31,1021.619336,0.004545,0.026479,2.080534,0.0,Mar,1.0,1,3,2,Returning_Visitor,False,True
698,8,466.500000,NaN,75.250000,44,1616.425824,0.006944,0.010974,0.000000,0.0,Mar,3.0,2,4,1,Returning_Visitor,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11726,3,35.833333,NaN,0.000000,9,92.333333,0.059259,0.088889,0.000000,0.0,Nov,1.0,1,8,1,Returning_Visitor,False,False
11870,1,150.500000,NaN,0.000000,18,635.333333,0.000000,0.011765,57.590758,0.0,Nov,2.0,2,1,2,New_Visitor,True,True
11949,0,0.000000,NaN,0.000000,131,4597.575252,0.006767,0.028755,0.000000,0.0,Dec,3.0,2,1,2,Returning_Visitor,False,False
12184,9,1294.900000,NaN,32.666667,37,1012.233333,0.000000,0.006910,33.312206,0.0,Nov,2.0,2,1,2,Returning_Visitor,False,False
12312,7,150.357143,NaN,9.000000,221,11431.001240,0.011149,0.021904,1.582473,0.0,Nov,2.0,5,1,2,Returning_Visitor,True,True

In [31]:
df[df['PageValues'].isnull()]

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
33,0,0.000000,0.0,0.000000,10,183.666667,0.040000,0.080000,NaN,0.0,Feb,1.0,1,3,1,Returning_Visitor,False,False
70,0,0.000000,0.0,0.000000,1,0.000000,0.200000,0.200000,NaN,0.0,Feb,2.0,6,1,2,Returning_Visitor,False,False
103,2,31.000000,1.0,16.000000,36,2083.530952,0.000000,0.013510,NaN,0.8,Feb,2.0,2,4,3,Returning_Visitor,False,False
495,0,0.000000,0.0,0.000000,16,630.750000,0.000000,0.040476,NaN,0.0,Mar,3.0,2,1,1,Returning_Visitor,True,False
526,2,34.000000,0.0,0.000000,21,521.500000,0.018182,0.021212,NaN,0.0,Mar,3.0,2,5,1,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,1,64.500000,0.0,0.000000,36,766.216667,0.000000,0.001852,NaN,0.0,Dec,3.0,2,3,2,New_Visitor,False,False
11891,2,79.000000,0.0,0.000000,7,823.000000,0.000000,0.028571,NaN,0.0,Dec,1.0,1,3,2,Returning_Visitor,True,False
11988,14,228.748539,6.0,121.583333,336,12166.694240,0.000000,0.012144,NaN,0.0,Nov,2.0,2,7,2,Returning_Visitor,False,True
12007,5,29.000000,0.0,0.000000,8,233.500000,0.000000,0.027778,NaN,0.0,Dec,2.0,2,4,2,Returning_Visitor,False,False
12129,6,141.916667,2.0,1060.750000,136,8777.613879,0.007160,0.016361,NaN,0.0,Dec,3.0,2,1,2,Returning_Visitor,False,True

In [32]:
df[df['OperatingSystems'].isnull()]

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
567,1,7.000000,0.0,0.00,17,2648.500000,0.012500,0.031250,0.000000,0.0,Mar,NaN,2,1,2,Returning_Visitor,False,False
835,7,163.666667,0.0,0.00,8,119.333333,0.015385,0.023077,0.000000,0.0,Mar,NaN,2,6,11,New_Visitor,True,False
840,3,60.000000,0.0,0.00,19,494.500000,0.000000,0.010000,0.000000,0.0,Mar,NaN,1,3,9,Returning_Visitor,True,False
909,4,162.000000,3.0,75.50,4,158.500000,0.000000,0.016667,0.000000,0.0,Mar,NaN,4,1,10,Returning_Visitor,False,False
966,14,272.500000,2.0,52.25,55,1127.288305,0.003125,0.014499,0.000000,0.0,Mar,NaN,2,7,1,Returning_Visitor,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11671,2,42.750000,0.0,0.00,31,2526.483333,0.027273,0.055556,40.184488,0.0,Dec,NaN,4,6,1,Returning_Visitor,False,False
11718,0,0.000000,0.0,0.00,14,275.166667,0.000000,0.021429,0.000000,0.0,Nov,NaN,2,6,3,Returning_Visitor,False,False
11845,12,246.252381,2.0,56.50,102,4264.419078,0.007784,0.019834,0.000000,0.0,Nov,NaN,2,1,10,Returning_Visitor,True,False
12067,4,251.000000,9.0,172.00,64,4326.666667,0.008553,0.024503,0.000000,0.0,Dec,NaN,2,4,2,Returning_Visitor,False,False
12250,1,41.125000,0.0,0.00,126,4310.004668,0.000688,0.012823,3.451072,0.0,Nov,NaN,2,2,2,Returning_Visitor,False,False

In [ ]:
#thoughts - must be some correlation btwn infomational and informational duration
#can't say i understand what "Page Values" refers to - use Median?
#maybe operating system -> browser?

#not actually sure how it would be best to transform this data appropriately with no